# Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- Common Languages
- Common Libraries
- Building Table
- Arithmetic Expression in Python

Some of the common languages used by Data Scientists include:
1. Python
2. MySQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
result = (3 * 4) + 5
result

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
hours = 200 / 60
hours

3.3333333333333335

## Author
Waleed Aftab